/* src/ContactUsForm.css */

.container {
  width: 800px;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #f7f7f7;
  box-shadow: 0 0 15px rgba(12, 11, 11, 0.1);
  font-family: 'Segoe UI', sans-serif;
  height: 600px;
}

.contact {
  text-align: center;
  
   background: linear-gradient(to right, rgba(67, 17, 216, 0.93), rgba(145, 59, 153, 0.822));
  border-radius: 15px;
  height: 35px;
  margin-top: 20px;
  height: 20;
  
  
}

.contact h2 {
  color: #ede3e3;
  margin: 0;
  font-size: 26px;
}

label {
 
  font-weight: 500;
  color: #444;
  
}

input,
textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  box-sizing: border-box;
  outline: none;
  margin-top: 0px;

}
input{
    height: 35px;
}

input:focus,
textarea:focus {
  border-color: #007bff;
}

textarea {
  resize: vertical;
  height:60px;
}
.btn button {
  background-color: #d5c0d2;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 20px;
   color: #ede3e3;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.btn h2 {
  font-size: 18px;
  font-weight: 500;
}
.response-msg {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 500px;
  color: rgb(235, 226, 236); /* or red for errors */
}

.gradient-header {
  background: 
    rgba(67, 17, 216, 0.93);
  color: white; /* text readable over gradient */
}

   